<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>
  <form style="border:1px solid black;margin:20px">
    <div class="row" style="margin:20px">
      <div class="col-sm-4">
        <h3>Customer:</h3>
      </div>
      <div class="col-sm-8"><select id="customer" class="customers" required></select></div>
    </div>

    <div class="row" style="margin:20px">
      <div class="col-sm-4">
        <h3>Date:</h3>
      </div>
      <div class="input-group input-daterange col-sm-6">
        <input id="minor_date" type="date" class="form-control">
        <div class="input-group-addon">
          <h3>&nbsp;to&nbsp;</h3>
        </div>
        <input id="major_date" type="date" class="form-control">
      </div>
    </div>
    <div class="row" style="margin:20px">
      <button class="btn btn-primary col-sm-2" type="button" onclick="updateTable()">Filter</button>
    </div>

  </form>

  <div style="margin:40px" align="center">
    <table id="orders" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Creation Date</th>
          <th>Order ID</th>
          <th>Total $</th>
          <th>Delivery Address</th>
          <th>Products</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Creation Date</th>
          <th>Order ID</th>
          <th>Total $</th>
          <th>Delivery Address</th>
          <th>Products</th>
        </tr>
      </tfoot>
    </table>
  </div>


  <script>
    function updateTable() {
      table.ajax.reload();
      return false;
    }
    $(document).ready(function() {
      table = $('#orders').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          url: "invoice/order/?format=datatables",
          data: function(d) {
            d.customer = $("#customer").val();
            if ($("#minor_date").val() != "" && $("#major_date").val() != "") {
              d.date__range = $("#minor_date").val() + "," + $("#major_date").val();
            } else if ($("#minor_date").val() != "") {
              d.date = $("#minor_date").val();
            } else if ($("#major_date").val() != "") {
              d.date = $("#major_date").val();
            }
            return d;
          }
        },
        "columns": [{
            "data": "date"
          },
          {
            "data": "id"
          },
          {
            "data": "total"
          },
          {
            "data": "delivery_address"
          },
          {
            "data": "products"
          }
        ]
      });
      $('.customers').select2({
        width: '50%',
        ajax: {
          url: 'invoice/customer',
          dataType: 'json',
          processResults: function(data) {
            return {
              results: data
            };
          }
        },

      });
    });
  </script>
</body>


</html>
